.cal-month-day {
    cursor: pointer;
}

.cal-day-today {
    cursor: pointer;
}

.it-callout {
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #d9534f;
}

.it-modal-title {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}

.it-modal-header {
    border-bottom: none;
}

.it-modal-footer {
    margin: 0px 15px 0px 15px;
    padding: 15px 0px 15px 0px;
}

textarea { 
    resize: vertical; 
}

.bordered-summary {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}