<html>
<div class="row">
    <h2 class="text-center">Issues for {{ selectedDate }}</h2>
</div>
<div class="row">
    <button class="btn btn-primary" ng-click="onAddNewIssue()">Add new</button>
</div>
<div class="row it-callout" ng-repeat="issue in issues">
    <del ng-if="issue.status == 'CLOSED'">
        <h4>{{issue.summary}}</h4>    
    </del>
    <del ng-if="issue.status == 'CLOSED'">
        <p>{{issue.description}}</p>
    </del>
    <h4 ng-if="issue.status != 'CLOSED'">{{issue.summary}}</h4>
    <p ng-if="issue.status != 'CLOSED'">{{issue.description}}</p>
    <div class="pull-right form-inline">
        <div class="form-group">
            <button ng-if="issue.status != 'CLOSED'" ng-click="onEditIssue(issue.id)" class="btn btn-primary pull-right">Edit</button>
        </div>
        <div class="form-group">
            <button ng-if="issue.status != 'CLOSED'" ng-click="onCloseIssue(issue.id)" class="btn btn-default pull-right">Close</button>
        </div>
        <div class="form-group">
            <button ng-click="onDeleteIssue(issue.id)" class="btn btn-danger pull-right">Delete</button>
        </div>
    </div>
</div>
<html>